/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

/* temporary nav css */
*{
  box-sizing: border-box;
  margin: 0; 
}


.nav {
  display: flex;
  justify-content: space-around;
  background-color: #77bfa3;
  padding: 5px;
  font-size: 1em;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
}

.nav a:hover {
  color: #ef77d5;
}

