@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  
}

body{
  background-image: url("./styles/thick-leaves.jpg");
  background-size: cover;

}

/* temporary nav css */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #709255;
  padding: 5px;
  font-size: 1em;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
}

.nav a:hover {
  color: #346F59;
}

/* login and sign up css */

.container {
  margin: auto;
  padding: 0;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;

}

header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: black;
  font-weight: 700;
}

.input-box {
  /* margin-bottom: 20px; */
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.input-box input {
  width: 100%;
  padding: 8px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-box .icon {
  position: relative;
  transform: translateY(-50%);
  font-size: 16px;
  left: 220px;
  bottom: 45px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4EA685;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #346F59;
}


/*tasks css*/

.App {
  text-align: center;
}

h1 {
  color: #346F59;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;

}

.TaskWrapper {
  background: #dde7c7;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
 margin-left: 10rem;
 margin-right: 10rem;

}

.TaskForm {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input {
  border: 1px solid #346F59;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #141313;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.task-input::placeholder {
  color: #0807074d;
}

.task-btn {
  /* display: block; */
  /* width: 100%; */
  padding: 10px;
  background-color: #4EA685;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
}

.task-btn:hover {
  background-color: #346F59;
}

.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #346F59;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 7rem;
}

.icons{
  cursor: pointer;
  justify-content: space-evenly;
}


.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #dde7c7;
  text-decoration: line-through;
  cursor: pointer;
}


/*breathing animations*/

.breathing{
 text-align: center;
 color: white;
 margin-top: 4rem;
  text-shadow: 2px 1px 2px black;
  font-size: large;
}



.anim-circle {
  color: transparent;
  position: relative;
  top: -28%;
  left: 50%;
  margin-top: 12rem;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(98, 149, 94, 0.889);
  animation: breathe 7s linear infinite;
}

@keyframes breathe {
  0% {
 box-shadow: 0 0 0 15px rgba(98, 149, 94, 0.3), 
 0 0 0 30px rgba(98, 149, 94, 0.3), 
 0 0 0 45px rgba(98, 149, 94, 0.3), 
 0 0 0 60px rgba(98, 149, 94, 0.3), 
 0 0 0 75px rgba(98, 149, 94, 0.3);
  }
  50% {
 box-shadow: 0 0 0 25px rgba(98, 149, 94, 0.3), 
 0 0 0 50px rgba(98, 149, 94, 0.3), 
 0 0 0 75px rgba(98, 149, 94, 0.3), 
 0 0 0 100px rgba(98, 149, 94, 0.3), 
 0 0 0 125px rgba(98, 149, 94, 0.3);
  }
  100% {
 box-shadow: 0 0 0 15px rgba(98, 149, 94, 0.3), 
 0 0 0 30px rgba(98, 149, 94, 0.3), 
 0 0 0 45px rgba(98, 149, 94, 0.3), 
 0 0 0 60px rgba(98, 149, 94, 0.3), 
 0 0 0 75px rgba(98, 149, 94, 0.3);
  }
 }

